                    <div class="row">
                        <div class="col-md-6">
                            <!-- START PERSONALITY INSIGHTS BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Personality Insights - Personality </h3>
                                        <span>Personality insights from IBM Watson.</span>
                                    </div>                                     
                                    <ul class="panel-controls panel-controls-title">                                        
                                        <li><a href="javascript:;" ng-click="test()" class="panel-fullscreen rounded"><span class="fa fa-expand"></span></a></li>
                                        <li><a ng-click="test()" href="" class="panel-collapse rounded"><span class="fa fa-angle-down"></span></a></li>
                                    </ul>                                    
                                    
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div class="col-md-12">                                            
                                            <div class="panel-group" ng-repeat="(key,values) in traits.Personality">
                                                <div class="">
												    <div class="">
													    <div class="progress-list">
														    <div class="pull-left">
															    <a href="javascript:;" style="color: inherit; " data-toggle="collapse" data-target="{{'#'+key}}">
																    <strong>{{key}} </strong><span class="fa fa-angle-down"></span>
																</a>
															</div>
															<div class="pull-right"></div>
															<div class="progress progress-small progress-striped active">
															    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 78%;">78%
															    </div>
															</div>
														</div>
													</div>
												    <div id="{{key}}" class="panel-collapse collapse">
												        <div class="panel-body">
													        <div class="progress-list" ng-repeat="(childk,childv) in values">                                               
                                                                <div class="pull-left"><strong>{{childk}}</strong></div>
																<div class="pull-right">{{childv + '%'}}</div>
																<div class="progress progress-small progress-striped active">
																    <div class="progress-bar progress-bar-primary {{ $index%3 == 0 ? 'progress-bar-primary' : $index%3 == 1 ? 'progress-bar-warning' : 'progress-bar-danger' }}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="{{'width: '+childv+'%;'}}">{{childv + '%'}}</div>
																</div>
															</div>
													    </div>
												    </div>
											    </div>
										    </div>
											
											<div class="panel-group sr-only">
                                                <div class="">
												    <div class="">
													    <div class="progress-list">
														    <div class="pull-left">
															    <a href="javascript:;" style="color: inherit; " data-toggle="collapse" data-target="#Conscientiousness">
																    <strong>Conscientiousness </strong><span class="fa fa-angle-down"></span>
																</a>
															</div>
															<div class="pull-right">95%</div>
															<div class="progress progress-small progress-striped active">
															    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">78%
															    </div>
															</div>
														</div>
													</div>
												    <div id="Conscientiousness" class="panel-collapse collapse">
												        <div class="panel-body">
													        <div class="progress-list" ng-repeat="bullet in bullets">                                               
                                                                <div class="pull-left"><strong>{{bullet.title}}</strong></div>
																<div class="pull-right">{{bullet.markers[0] + bullet.subtitle}}</div>
																<div class="progress progress-small progress-striped active">
																    <div class="progress-bar progress-bar-primary {{ bullet.index%3 == 1 ? 'progress-bar-primary' : bullet.index%3 == 2 ? 'progress-bar-warning' : 'progress-bar-danger' }}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="{{'width: '+bullet.markers[0]+bullet.subtitle+';'}}">{{bullet.markers[0] + bullet.subtitle}}</div>
																</div>
															</div>
													    </div>
												    </div>
											    </div>
										    </div>
											
											<div class="panel-group sr-only">
                                                <div class="">
												    <div class="">
													    <div class="progress-list">
														    <div class="pull-left">
															    <a href="javascript:;" style="color: inherit; " data-toggle="collapse" data-target="#Openness">
																    <strong>Openness </strong><span class="fa fa-angle-down"></span>
																</a>
															</div>
															<div class="pull-right">91%</div>
															<div class="progress progress-small progress-striped active">
															    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">91%
															    </div>
															</div>
														</div>
													</div>
												    <div id="Openness" class="panel-collapse collapse">
												        <div class="panel-body">
													        <div class="progress-list" ng-repeat="bullet in bullets">                                               
                                                                <div class="pull-left"><strong>{{bullet.title}}</strong></div>
																<div class="pull-right">{{bullet.markers[0] + bullet.subtitle}}</div>
																<div class="progress progress-small progress-striped active">
																    <div class="progress-bar progress-bar-primary {{ bullet.index%3 == 1 ? 'progress-bar-primary' : bullet.index%3 == 2 ? 'progress-bar-warning' : 'progress-bar-danger' }}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="{{'width: '+bullet.markers[0]+bullet.subtitle+';'}}">{{bullet.markers[0] + bullet.subtitle}}</div>
																</div>
															</div>
													    </div>
												    </div>
											    </div>
										    </div>
											
											<div class="panel-group sr-only">
                                                <div class="">
												    <div class="">
													    <div class="progress-list">
														    <div class="pull-left">
															    <a href="javascript:;" style="color: inherit; " data-toggle="collapse" data-target="#Introversion">
																    <strong>Introversion/Extraversion </strong><span class="fa fa-angle-down"></span>
																</a>
															</div>
															<div class="pull-right">91%</div>
															<div class="progress progress-small progress-striped active">
															    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">91%
															    </div>
															</div>
														</div>
													</div>
												    <div id="Introversion" class="panel-collapse collapse">
												        <div class="panel-body">
													        <div class="progress-list" ng-repeat="bullet in bullets">                                               
                                                                <div class="pull-left"><strong>{{bullet.title}}</strong></div>
																<div class="pull-right">{{bullet.markers[0] + bullet.subtitle}}</div>
																<div class="progress progress-small progress-striped active">
																    <div class="progress-bar progress-bar-primary {{ bullet.index%3 == 1 ? 'progress-bar-primary' : bullet.index%3 == 2 ? 'progress-bar-warning' : 'progress-bar-danger' }}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="{{'width: '+bullet.markers[0]+bullet.subtitle+';'}}">{{bullet.markers[0] + bullet.subtitle}}</div>
																</div>
															</div>
													    </div>
												    </div>
											    </div>
										    </div>
											
											<div class="panel-group sr-only">
                                                <div class="">
												    <div class="">
													    <div class="progress-list">
														    <div class="pull-left">
															    <a href="javascript:;" style="color: inherit; " data-toggle="collapse" data-target="#Emotional">
																    <strong>Emotional range </strong><span class="fa fa-angle-down"></span>
																</a>
															</div>
															<div class="pull-right">91%</div>
															<div class="progress progress-small progress-striped active">
															    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">91%
															    </div>
															</div>
														</div>
													</div>
												    <div id="Emotional" class="panel-collapse collapse">
												        <div class="panel-body">
													        <div class="progress-list" ng-repeat="bullet in bullets">                                               
                                                                <div class="pull-left"><strong>{{bullet.title}}</strong></div>
																<div class="pull-right">{{bullet.markers[0] + bullet.subtitle}}</div>
																<div class="progress progress-small progress-striped active">
																    <div class="progress-bar progress-bar-primary {{ bullet.index%3 == 1 ? 'progress-bar-primary' : bullet.index%3 == 2 ? 'progress-bar-warning' : 'progress-bar-danger' }}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="{{'width: '+bullet.markers[0]+bullet.subtitle+';'}}">{{bullet.markers[0] + bullet.subtitle}}</div>
																</div>
															</div>
													    </div>
												    </div>
											    </div>
										    </div>
											
											
											<div class="progress-list sr-only" ng-repeat="bullet in bullets">                                               
                                                <div class="pull-left"><strong>{{bullet.title}}</strong></div>
                                                <div class="pull-right">{{bullet.markers[0] + bullet.subtitle}}</div>                                                
                                                <div class="progress progress-small progress-striped active">
                                                    <div class="progress-bar progress-bar-primary {{ bullet.index%3 == 1 ? 'progress-bar-primary' : bullet.index%3 == 2 ? 'progress-bar-warning' : 'progress-bar-danger' }}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="{{'width: '+bullet.markers[0]+bullet.subtitle+';'}}">{{bullet.markers[0] + bullet.subtitle}}</div>
                                                </div>
                                            </div>
                                            <p class="sr-only"><span class="fa fa-warning"></span> Data update in end of each hour. You can update it manual by pressign update button</p>
                                        </div>
										<div class="col-md-12 sr-only">
                                            <!--iframe src="http://localhost/prospect/sunburst/bullet.php?id=1" width="100%" height="500" scrolling="auto" frameBorder="0">Error</iframe-->
											
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END PERSONALITY INSIGHTS BLOCK -->
                        </div>
						<div class="col-md-6">
                            <!-- START PERSONALITY INSIGHTS BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Personality Insights - Consumer Needs</h3>
                                        <span>Personality insights from IBM Watson.</span>
                                    </div>                                     
                                    <ul class="panel-controls panel-controls-title">                                        
                                        <li><a href="javascript:;" ng-click="test()" class="panel-fullscreen rounded"><span class="fa fa-expand"></span></a></li>
                                        <li><a ng-click="test()" href="" class="panel-collapse rounded"><span class="fa fa-angle-down"></span></a></li>
                                    </ul>                                    
                                    
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div class="col-md-12 center-block" style="text-align:center;">
										    <div class="chart-holder" id="dashboard-line-1" style="height: 200px;"></div>
									    </div>
										<div class="col-md-12 sr-only">                                            
                                            <div class="panel-group">
                                                <div class="">
												    <div class="">
													    <div class="progress-list">
														    <div class="pull-left">
															    <a href="javascript:;" style="color: inherit; " data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
																    <strong>Harmony</strong>
																</a>
															</div>
															<div class="pull-right">78%</div>
															<div class="progress progress-small progress-striped active">
															    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 78%;">78%
															    </div>
															</div>
														</div>
													</div>
												    <div id="collapseOne" class="panel-collapse collapse in">
												        <div class="panel-body">
													        <div class="progress-list" ng-repeat="bullet in bullets">                                               
                                                                <div class="pull-left"><strong>{{bullet.title}}</strong></div>
																<div class="pull-right">{{bullet.markers[0] + bullet.subtitle}}</div>
																<div class="progress progress-small progress-striped active">
																    <div class="progress-bar progress-bar-primary {{ bullet.index%3 == 1 ? 'progress-bar-primary' : bullet.index%3 == 2 ? 'progress-bar-warning' : 'progress-bar-danger' }}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="{{'width: '+bullet.markers[0]+bullet.subtitle+';'}}">{{bullet.markers[0] + bullet.subtitle}}</div>
																</div>
															</div>
													    </div>
												    </div>
											    </div>
										    </div>
											
											<div class="progress-list sr-only" ng-repeat="bullet in bullets">                                               
                                                <div class="pull-left"><strong>{{bullet.title}}</strong></div>
                                                <div class="pull-right">{{bullet.markers[0] + bullet.subtitle}}</div>                                                
                                                <div class="progress progress-small progress-striped active">
                                                    <div class="progress-bar progress-bar-primary {{ bullet.index%3 == 1 ? 'progress-bar-primary' : bullet.index%3 == 2 ? 'progress-bar-warning' : 'progress-bar-danger' }}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="{{'width: '+bullet.markers[0]+bullet.subtitle+';'}}">{{bullet.markers[0] + bullet.subtitle}}</div>
                                                </div>
                                            </div>
                                            <p class="sr-only"><span class="fa fa-warning"></span> Data update in end of each hour. You can update it manual by pressign update button</p>
                                        </div>
										<div class="col-md-12 sr-only">
                                            <!--iframe src="http://localhost/prospect/sunburst/bullet.php?id=1" width="100%" height="500" scrolling="auto" frameBorder="0">Error</iframe-->
											
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END PERSONALITY INSIGHTS BLOCK -->
                        </div>
                    </div>
                    <div class="row">
						<div class="col-md-6">
                            
                            <!-- START PERSONALITY INSIGHTS BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Personality Insights - Core Values</h3>
                                        <span>Personality insights from IBM Watson.</span>
                                    </div>                                     
                                    <ul class="panel-controls panel-controls-title">                                        
                                        <li><a href="javascript:;" ng-click="test()" class="panel-fullscreen rounded"><span class="fa fa-expand"></span></a></li>
                                        <li><a ng-click="test()" href="" class="panel-collapse rounded"><span class="fa fa-angle-down"></span></a></li>
                                    </ul>                                    
                                    
                                </div>
                                <div class="panel-body">                                    
                                    <div class="row stacked">
                                        <div class="col-md-12 center-block" style="text-align:center;">
										    <div class="chart-holder" id="dashboard-donut-1" style="height: 200px;"></div>
									    </div>
									
										<div class="col-md-12 sr-only">                                            
                                            
											
											<div class="progress-list" ng-repeat="bullet in bullets">                                               
                                                <div class="pull-left"><strong>{{bullet.title}}</strong></div>
                                                <div class="pull-right">{{bullet.markers[0] + bullet.subtitle}}</div>                                                
                                                <div class="progress progress-small progress-striped active">
                                                    <div class="progress-bar progress-bar-primary {{ bullet.index%3 == 1 ? 'progress-bar-primary' : bullet.index%3 == 2 ? 'progress-bar-warning' : 'progress-bar-danger' }}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="{{'width: '+bullet.markers[0]+bullet.subtitle+';'}}">{{bullet.markers[0] + bullet.subtitle}}</div>
                                                </div>
                                            </div>
                                            <p class="sr-only"><span class="fa fa-warning"></span> Data update in end of each hour. You can update it manual by pressign update button</p>
                                        </div>
										<div class="col-md-12 sr-only">
                                            <!--iframe src="http://localhost/prospect/sunburst/bullet.php?id=1" width="100%" height="500" scrolling="auto" frameBorder="0">Error</iframe-->
											
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- END PERSONALITY INSIGHTS BLOCK -->
                            
                        </div>
						                        
                        <div class="col-md-6">
                            
                            <!-- START USER INTERESTS BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>User Interests</h3>
                                        <span>User interests from his social accounts.</span>
                                    </div>
                                    <ul class="panel-controls" style="margin-top: 2px;">
                                        <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>                                        
                                            <ul class="dropdown-menu">
                                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                                            </ul>                                        
                                        </li>                                        
                                    </ul>
                                </div>
                                <div class="panel-body padding-0">
                                    <iframe src="{{'http://localhost/prospect/sunburst/bubble.php?id='+profile.CONTACT_ID}}" width="100%" height="500" align="center" scrolling="no" frameBorder="0">Error</iframe>
                                </div>
                            </div>
                            <!-- END USER INTERESTS BLOCK -->
                            
							
                        </div>
                    
					</div>
					
					<div class="row sr-only">
						<div class="col-md-12">
                            
                            <!-- START MATCHING BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Match</h3>
                                        <span>Customer Reperesentative match based on user.</span>
                                    </div>
                                    <ul class="panel-controls" style="margin-top: 2px;">
                                        <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>                                        
                                            <ul class="dropdown-menu">
                                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                                            </ul>                                        
                                        </li>                                        
                                    </ul>
                                </div>
                                <div class="panel-body padding-0">
                                    <div class="col-md-12 center-block" style="text-align:center;">
									    <p>&nbsp; Relationship Manager <b>{{profile.MATCH_SCORE+'%'}}</b> match <br>with</p>
										<h3>{{profile.OFFICER_CONTACT_NM}}</h3>
										<div>
										    <img class="img-circle" ng-src="{{profile.OFFICER_CONTACT_PIC_URL}}" width="200" height="200" alt="{{profile.OFFICER_CONTACT_NM}}"/>
										</div>
										<!-- iframe src="http://localhost/prospect/sunburst/gchart.php?P=1&R=3" width="100%" height="300" align="center" scrolling="auto" frameBorder="0">Error</iframe -->
									</div>
									<div class="col-md-12 center-block sr-only" style="text-align:center;">
										<div class="chart-holder" id="dashboard-bar-1" style="height: 200px;"></div>
									</div>
									<div class="col-md-12 center-block" style="text-align:center;">
										<div class="progress-list" ng-repeat="bullet in bullets">                                               
                                                <div class="pull-left"><strong>{{bullet.title}}</strong></div>
                                                <div class="pull-right">{{bullet.markers[0] + bullet.subtitle}}</div>                                                
                                                <div class="progress progress-small progress-striped active">
                                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="{{'width: '+bullet.markers[0]+bullet.subtitle+';'}}">{{bullet.markers[0] + bullet.subtitle}}</div>
                                                </div>
												<div class="progress progress-small progress-striped active">
                                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="{{'width: '+bullet.markers[0]+bullet.subtitle+';'}}">{{bullet.markers[0] + bullet.subtitle}}</div>
                                                </div>
                                        </div>
									</div>
                                </div>
                            </div>
                            <!-- END MATCHING BLOCK -->
                            
                        </div>
                    
					</div>